@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root:has(.no-doc-scroll) {
    overflow:hidden;
  }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-tint-text: var(--tint-text);
  --color-tint-bg: var(--tint-bg);
}

:root {
  --background: oklch(100% 0.00011 271.152);
  --foreground: oklch(20.463% 0.00002 271.152);
  --tint-text: oklch(44.225% 0.0163 285.678);
  --tint-bg: oklch(89.833% 0.00107 11.897);
}

.dark {
  --background: oklch(20.463% 0.00002 271.152);
  --foreground: oklch(100% 0.00011 271.152);
  --tint-text: oklch(70.566% 0.01449 285.949);
  --tint-bg: oklch(26.033% 0.00003 271.152);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.circular-image {
  object-fit: cover;
  border-radius: 100%;
  border: 3px solid #112D4E;
}

.youtube-container lite-youtube {
  width: 100% !important;
  height: 100% !important;
  max-width: none;
}